body{
    background-color: #333;
}

h1{
    color: #fff;
    text-align: center;
}

p{
    color: #ddd;
    font-size: 18px;
    text-align: justify;
    margin: 0 20px;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

img{
    width: 150px;
    height: auto;
    margin-bottom: 20px;
}